<% provide(:title, @inspiration.name) %>

<p id="notice"><%= notice %></p>

<h1 class="frame-title">
  <%= @inspiration.name %>
</h1>
<hr/>
<div style="width:100%;text-align:center;">
	<%= image_tag @inspiration.image.url, class: "inspiration-image" %>
</div>