<% provide(:title, 'About') %>

<h1>About StoryStore</h1>

<p>StoryStore is a community for writers who want somewhere to share their ideas so that they can get recognition, inspiration and feedback. Launched in November 2012, it's a hub for your creativity and will be adding features for a long time to come!</p>

<h2>How do I begin?</h2>

<p>Registering for StoryStore couldn't be easier, and it's completely, 100% free. So if you're interested, <a href="/register">register here</a>, enter your name, e-mail and choose a password, and upload an avatar if you like. Once you're in you'll be directed to your profile, where you can create projects - see the <a href="/help">help section</a> for more details.</p>

<h2>What features are going to be added to StoryStore in the future?</h2>

<p>StoryStore is currently on version 1.11 (codenamed Great British Dangerzone). Planned for the next version are:</p>
<ul>
	<li>The ability to leave feedback on individual elements of a project</li>
	<li>An option to "borrow" other inspirations and music and import them into your own projects</li>
</ul>

<p>If you have feature requests, either <a href="mailto:declantyson@hotmail.co.uk">e-mail the dev team</a> or submit a feature request issue on the <a href="https://github.com/declantyson/great-british-dangerzone/issues">GitHub repository</a>.</p>

<h2>For the techies</h2>

<p>StoryStore is an open-source Rails application, so feel free to check out the code on <a href="https://github.com/declantyson/great-british-dangerzone/">GitHub</a> to fix bugs, add features, or just plain rip-off the code (please credit me in some way or another if you do!).</p>

<h2>News Archive</h2>
<p><em><strong>12.11.12 - "StoryStore is ready!"</strong></em></p>
<p>Today marks a major milestone in StoryStore's short history - it's now actually live! If you want to learn a bit more about StoryStore, head over to the <a href="/about">about</a> section. If you're struggling with anything, check out the <a href="/help">help</a> page. We've already planned several more features to be developed in future updates, but we're always willing to accept new ideas. If you have any, <a href="mailto:declantyson@hotmail.co.uk">e-mail the dev team</a> with your ideas and queries or create an issue on the <a href="https://github.com/declantyson/great-british-dangerzone">StoryStore GitHub</a>.</p>

<p><em><strong>16.01.13 - "Chapter II"</strong></em></p>
<p>"You only fail if you stop writing."<br><strong>Ray Bradbury</strong></p>
<hr>
<p>Bradbury's quote applies to programming as much as literature; for without love and attention this tool will fail. We listened to your feedback and have bounced back with significant improvements. Gone is the cursive font that many of you despised, and in comes a plethora of features, including a fully functional notification system, e-mails and - perhaps most importantly - the option to write your project in private before you unleash it onto the world.</p>
<p>Many thanks to you all for your feedback once again, this is a project that will continue to grow and expand and is entirely focused on the needs of its users. I hope you enjoy the slight upgrade, and continue to provide me with the feedback you so kindly offered.</p>