<% provide(:title, 'Help') %>

<h1>Help me!</h1>
<p>We've tried to design StoryStore to be as user-friendly as possible, but we do understand that you may have difficulties somewhere down the line. So we've tried to compile a simple step-by-step walkthrough for you to create and build a new project.</p>

<h2>Start a new project</h2>

<ol>
	<li>There are two ways you can start a new project. If you're on your profile page, you can click on the blue "Add new project" button on the right-hand side, beneath your avatar. Alternatively, you can click on the "New Project" link in the left-hand footer column.</li>
	<li>Choose a suitable title for your project. If you're not sure exactly what you want to call it yet, give it an interesting code name - you can always change it later.</li>
	<li>Then upload a thumbnail - your potential book cover would be a good choice.</li>
	<li>Give a brief synopsis of what your story will be about.</li>
	<li>Select from the list of genres and formats.</li>
	<li>Click the blue "Create Project" button. You'll be redirected to your new project screen. Hooray!</li>
</ol>

<h2>The components of a project</h2>

<p>Each story has its own characters, scenes, locations, music and inspiration. You can add these using the various buttons down the right hand side, below the project thumbnail.</p>

<h2>Music with Spotify</h2>

<p>When you add inspiring music to your project, you have the option to add a "Spotify URI". <a href="http://www.spotify.com/">Spotify</a> is music streaming software with a massive library that allows you to listen to millions of songs for free. To get Spotify music in your project, you need to follow these steps:</p>

<ol>
	<li><a href="http://www.spotify.com/start">Download and install Spotify</a> if you haven't already.</li>
	<li>Once you're up and running with Spotify, search for the song, album or playlist you want to assign to your project.</li>
	<li>Right click on it, and select "Copy Spotify URI".</li>
	<li>Paste it into the "Spotify URI" field in the music form. It looks like gibberish, but that's ok!</li>
	<li>Once you've saved your music entity, the Play With Spotify logo will appear over the music icon on your project page: <img src="assets/spotify-play.png"/></li>
	<li>Click that to launch your music in Spotify whenever you want!</li>
</ol>

<h2>The Redactor Text Editor</h2>

<p>StoryStore uses the Redactor text editor to ensure that you have the best possible experience writing your stories. Redactor has the following shortcuts (replace Ctrl with Cmd for Mac OS X Users):</p>

<ul>
	<li><strong>Undo:</strong> Ctrl+Z</li>
	<li><strong>Redo:</strong> Ctrl+Shift+Z</li>
	<li><strong>Increase indents:</strong> Tab</li>
	<li><strong>Decrease indents:</strong> Shift+Tab</li>
	<li><strong>Clear formatting:</strong> Ctrl+M</li>
	<li><strong>Bold:</strong> Ctrl+B</li>
	<li><strong>Italic:</strong> Ctrl+I</li>
	<li><strong>Underline:</strong> Ctrl+U</li>
	<li><strong>Numbered list:</strong> Ctrl+K</li>
	<li><strong>Bulleted list:</strong> Ctrl+J</li>
	<li><strong>Superscript:</strong> Ctrl+L</li>
	<li><strong>Subscript:</strong> Ctrl+H</li>
</ul>

<h2>Any further questions?</h2>

<p>If you feel that you have a problem that isn't covered here, then please <a href="mailto:declantyson@hotmail.co.uk">the development team</a>.