<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Story<span style="font-size:1px"> </span>Store</h1>
  <h2>
    A place for writers to share, be inspired and <em>third item in list</em>.
  </h2>

  <%= link_to "Sign up now!", register_path, class: "btn btn-large btn-primary" %>
</div>


