<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Story<span style="font-size:1px"> </span>Store</h1>
  <h2>
    A place for writers to share, be inspired and just... write!
  </h2>
  <% if !signed_in? %>
    <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Register", register_path, class: "btn btn-large btn-secondary" %>
  <% end %>
</div>


