<% provide(:title, "Sign in") %>
<div class="hero-unit">
  <%= image_tag("woman-writing-laptop.jpg", alt: "Share your stories with StoryStore", class: "ad-image")%>
  <h1 id="register">Sign in</h1>

    <%= render 'form' %>

  <!-- <%= link_to 'Back', root_path %> -->
</div>
