<div id="overlay">
</div>
<div class="frame-container animated">
  <iframe style="width:100%;height:100%;overflow-x:hidden;border:none;padding-bottom:5px;" class="frame">
  </iframe>
  <i class="icon-remove close-frame" style="float:right;cursor:pointer"></i>
</div>

<div id="project-details">
  <div id="project-image" style="padding: 40px 0;background-color:#f8f9f9;"><%= image_tag("logo.png", alt: "StoryStore") %></div>
  <div class="details" style="width:242px;margin:0 auto">
      <h2 style="text-align:center">StoryStore Blog</h2>
      <div class="clearfix"></div>
      <p>The latest StoryStore news, as and when it happens.</p>
      <p><strong>Author</strong></p>
      <p><%= link_to User.find(1).name, User.find(1)  %></p>
  </div>
  <div class="clearfix"></div>
  <% if signed_in? %>
    <% if current_user.id == 1 %>
      <% owner = true %>
      <center>
        <%= link_to 'New blog <i class="icon-white icon-align-justify"></i>'.html_safe, new_blog_path, class: "btn btn-large btn-primary" %>
      </center>
    <% end %>
  <% end %>
</div>

<div class="box-group character-boxes">
  <h3>Entries</h3>
  <%= @blog.get_thing("blogs", owner) %>
</div>

<div class="clearfix"></div>