<div id="overlay"></div>
<% if signed_in? %>
<% provide(:title, 'New scene') %>

	<div class="hero-unit">
	<h1>New scene</h1>	
	<%= render 'form' %>
	</div>
<% else %>
	<script>
		window.location = "/register";
	</script>
<% end %>
