<div class="hero-unit">
	<% if signed_in? && current_user.id == @user.id %>
		<% provide(:title, 'Edit user') %>

		<h1>Edit your account</h1>

		<%= render 'form_edit' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	<% else %>

	  <h1>Trying to edit someone else's account?</h1>
	  <h2>You heartless bastard.</h2>
	<% end %>
</div>
