<% if signed_in? %>
	<% provide(:title, 'New Project') %>

	<div class="hero-unit">
	<h1>New project</h1>	
	<%= render 'form' %>
<% else %>
	<script>
		window.location = "/register";
	</script>
</div>
<% end %>
