<% if signed_in? %>
<% provide(:title, 'Edit Characters') %>

	<div class="hero-unit">
	<h1>Edit character</h1>	
	<%= render 'form' %>
	</div>
<% else %>
	<script>
		window.location = "/register";
	</script>
<% end %>
