<% provide(:title, @music.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @music.name %></h1>
<hr/>
<div class="spotify-frame">
	<% if !@music.spotify_uri.blank? %>
		<iframe src='https://embed.spotify.com/?uri=<%= @music.spotify_uri %>' width='250' height='80' frameborder='0' allowtransparency='true'></iframe>
	<% else %>
		<p>Want to play your spotify songs from here? Right click on the track in Spotify, select "Copy Spotify URI" and insert it into the Spotify URI field!</p>
	<% end %>
</div>
<div style="text-align: center;width: 48%;float: right;">
	<%= image_tag @music.image.url, class: "music-image", style: "float:none;" %>
</div>

<div class="clearfix"></div>
