<% provide(:title, @location.name) %>

<p id="notice"><%= notice %></p>

<h1 class="frame-title">
  <%= @location.name %>
</h1>
<hr/>
<div style="width:100%;text-align:center;">
	<%= image_tag @location.image.url, class: "location-image" %>
</div>
<p class="location-description">
  <%= @location.description %>
</p>
